header{
    background-image: url("../images/home-background.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}
header .img-bg{
    background-image: url("../images/img-bg.png");
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0 auto;
    display: block;
}

header .img-bg img{
    height: 60vh;
    width: auto;
    /* margin: 0 auto;
    display: block; */
}
header .explore{
    margin-left: 500px;
    text-align: center;
    margin-top: 100px;
}
header .explore i{
    font-size: 30px;
    color: #00B4F1;
    transition: 0.3s ease;
}
header .explore i:hover{
  color: #88dcf8;
}
header .explore a{
    color: #00B4F1;
    text-decoration: none;
    transition: 0.3s ease;
}
header .explore a:hover{
  color: #88dcf8;
}

/* ------------------common css--------------------- */

.head-color{
    color: #00B4F1;
}
.sub-head-color{
    color: #171616
}
.para-color{
    color: #9D9D9D;
}
.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:10px;
	right:45px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:25px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  text-decoration: none;
  transition: 0.3s ease;
}
.float:hover{
  color: white;
  opacity: 0.7;
}
.my-float{
	margin-top:13px;
}

/* ------------------common css--------------------- */








body{
	font-family: 'Poppins';
    font-size: 13px;
}
.section-center{
  padding-top: 200px;
  width: 100%;
  /* width: 80%; */
  font-weight: 900;
}
.section-center .next-buttons{
  position: absolute;
  right: 0px;
  bottom: 230px;
  background-color: #00bfff1f;
  padding: 20px;
}
.section-center .next-buttons i{
  text-align: center;
  color: white;
  font-size: 25px;
}
.section-center .next-buttons .border-right{
  border-right: 1px solid #ffffff;
}
.section-center .next-buttons button{
  border: 0;
  background-color: transparent;
  transition: 0.3s ease;
}
.section-center .next-buttons button:hover i{
  color: #00B4F1;
}
.section-center .social-icons{
    position: absolute!important;
    /* margin: 0 auto!important; */
    margin-top: 100px!important;
}
.section-center .social-icons a i{
    color: #00B4F1!important;
    transition: 0.3s ease!important;
    font-size: 15px!important;
    
}
.section-center  .social-icons a i:hover{
    color: rgb(0, 0, 0)!important;
}
.section-center .vl {
    border-left: 1px solid #00B4F1;
      height: 50px;
      position:relative;
      left: 50%;
  }
  .section-center .next-buttons{
    /* float: right; */
    margin-top: -50px;
  }
  /* .section-center .icons{
    justify-content: center;
  } */
/* .home-head{
    width: 70%;
} */
.section-center .home-head h1{
  font-weight: 900!important;
  font-size: 45px;
  text-align: right!important;
  /* line-height: 20;
  line-height: 32px; */
  margin-top: 50px!important;
 
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #0497c9;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 600;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover{
  text-decoration: none;
  color: #ffeba7;
}
.nav ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #e8f8fd;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li a:hover:after{
  width: 100%;
}
.nav-shadow{
  background-color: #fff!important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
  transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}



.logo {
	display: block;
	z-index: 11;
	transition: all 250ms linear;
  margin-left: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.logo-fixed{
  margin-top: 50px!important;
}

.logo img {
	width: 200px;
	height: auto;
	display: block;
}



@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    right: 55px;
  }
  /* .logo {
    margin-left: auto;
  } */
  .nav{
    right: 30px;
  }
  
  .nav ul li a{
    font-size: 13px;
  }
  .section-center .home-head h1{
    font-weight: 900!important;
    font-size: 30px;
    text-align: right!important;
    /* line-height: 20;
    line-height: 32px; */
    margin-top: 10px!important;
    width: 90%;
    float: right;
   
  }
  .section-center .home-img-size{
    width: 250px;
    height: auto;
  }
  .section-center .social-icons{
    margin-top: 0px!important;
}
  .home{
    padding: 10px;
  }
  header{
    height: 100%;
    width: 100%;
}
header .img-bg{
  
  height: 40vh;
  width: auto;
  margin: 0 auto;
  margin-top: 50px;
  
  display: block;
  background-size: contain;
}

header .img-bg img{
  height: 200px;
  width: auto;
}
.section-center{
  padding-top: 200px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  /* width: 80%; */
  font-weight: 900;
}
header .explore{
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 100px;
}
.social-icons{
  margin-top: 10px;
}
.section-center .next-buttons{
  right: 0px;
  bottom: 10px;
  padding: 10px;
}
.section-center .logo  {
  margin-right: 0 auto!important;
}

}






/* -------------------------about start---------------------------- */

.about{
    margin-top: 150px;
    /* background-image: url("../images/about/aboutbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    background: radial-gradient(#ffffff, #d2f0f7,  #ffffff,  #ffffff);
}
.about .about-img-bg{
    background-image: url("../images/about/aboutimg-bg.png");
    background-repeat: no-repeat;
    height: 61vh;
    margin: 0 auto;
    display: block;
}
.about .about-text p{
    text-align: justify;
    width: 70%;
}
.about-details{
  margin-top: 100px;
  background-color: transparent;
  
}
.about .border-left{
  border-left: 1px solid #00B4F1;
  padding-left: 10%;
}
.about-details i{
  font-size: 20px;
}
.about-details a{
  font-size: 15px;
  color: #00B4F1;
  text-decoration: none;
  transition: 0.3s ease;
}
.about-details a:hover{
  color: #88dcf8;
}
.about .client-logos{
  margin-top: 50px;
  padding: 50px;
}

.slope-card {
	transform: skew(-10deg);
	background: #00b5f110;
  border: 0;
  border-radius: 15px;
  width: 150px;
}
.slope-card img{
  width: 120px;
  height: auto;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 991px){
  .about{
    padding: 10px;
    margin-top: 10px;
  }
  .about .about-img-bg{
    height: 50vh;
    width: auto;
    margin: 0 auto;
    margin-top: 50px;
    
    display: block;
    background-size: contain;
  
}
.about .about-text p{
    width: 100%;
}
.about-details{
  margin-top: 20px;
}
.about .border-left{
  border: 0;
  padding: 10px;
}
.client-logos p{
  text-align: center;
}
.about .client-logos{
  margin-top: 20px;
}
.slope-card{
  margin: 0 auto;
  margin-bottom: 15px;
}
}


/* -------------------------about end---------------------------- */





/* -------------------------about-us start---------------------------- */


.about-us{
  margin-top: 200px;
}
.about-us .vision{
  background-color: #00b5f10e;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
}
.about-us .card-vision .card{
  border: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 15px;
  border-radius: 16px;
  transform: skew(-5deg);
  text-align: justify;
}
.about-us .vision-cards{
  margin-top: 50px;
}
.about-us .card-vision .card img{
  width: 100px;
  height: auto;
  margin: 0 auto;
  display: block;
}
.about-us .core-values{
  background-color: white;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 15px;
  border-radius: 16px;
  text-align: justify;
  width: 100%;
  transform: skew(-5deg);
}
.about-us .core-values img{
  width: 100px;
  height: auto;

}.vision .vision-image{
  width: 500px;
  margin-top: 150px;
  height: auto;
}
.about-us .about-us-para{
  text-align: justify;
}
@media screen and (max-width: 991px){
  .about-us{
    padding: 10px;
    margin-top: 150px;
  }
  .about-us .core-values{
    transform: skew(-2deg);
    margin: 0 auto;
  }
  .about-us .card-vision .card{
    transform: skew(-2deg);
    margin-bottom: 10px;
  }
.vision .vision-image{
  width: 250px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}
}


/* -------------------------about-us end---------------------------- */






/* -------------------------ask-query start---------------------------- */

.ask-query{
  margin-top: 100px;
  padding: 100px 50px;
  background-color: #EEFAFF;
}
.ask-query .query-btn{
  padding: 20px 50px;
  border: 0;
  border-radius: 5px;
  color: white;
  transform: skew(-10deg);
  background-color: #00B4F1;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  
}
.ask-query .query-btn:hover{
  opacity: 0.7;
}
.ask-query a{
  text-decoration: none;
}
.ask-query .query-btn i{
  font-size: 30px;
}
.ask-query .query-details{
  border-right: 1px solid #00B4F1;
}
.ask-query .query-details p{
  width: 90%;
}
.ask-query .padding-left{
  padding-left: 100px;
}
.modal{
  border: 0;
}
.modal form {
  padding: 30px 20px;
  border: 0;
}
.modal form input, .modal select {
  padding: 10px;
  border: 0;
  background-color: #f7f7f7;
  border-radius: 15px;
}
.modal .modal-sub{
  font-size: 12px;
}
.modal form input::placeholder, .modal form input::placeholder{
  font-size: 13px;
  color: #494d52;
}
.modal select{
  color: #494d52; 
  font-size: 13px;
}
.modal select option:hover{
  background-color: #00b5f111;
}

.modal .submit-btn{
  background-color: #00B4F1;
}
.modal .modal-buttons button{
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  color: white;
  transition: 0.3s ease;
  transform: skew(-6deg);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.modal .close-btn{
  background-color: #7ecee9;
}
.modal .modal-buttons button:hover{
  opacity: 0.7;
}

.modal  .btn-close{
  float: right;
  display: block;
}
@media screen and (max-width: 991px){
  .ask-query{
    padding: 50px 10px;
    margin-top: 0px;
  }
  .ask-query .query-details p{
    width: 100%;
  }
  .ask-query .query-details{
    border: 0;
   
  }
  .ask-query .padding-left{
    padding-left: 0;
  }
  .ask-query .query-btn{
    margin: 0 auto;
    display: block;
    transform: skew(-4deg);
  }
}

/* -------------------------ask-query end---------------------------- */




/* -------------------------services start---------------------------- */

.services{
  margin-top: 100px;
  padding-top: 150px;
  /* background: -webkit-radial-gradient(right 60%,red,yellow,green); */
background: radial-gradient(at left 60%,rgb(160, 218, 241),rgb(255, 255, 255),rgb(255, 255, 255));
}
.services .service-cards{
  
  margin-bottom: 100px;
}
.services .service-cards .card{
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; border: 15px;
  transform: skew(-6deg);
  padding: 20px;
  transition: 0.5s ease;
  border-radius: 20px;
  width: 450px;
  height: 100%;
  margin: 0 auto;
}
.services .service-cards .card a{
  color: #6bc8e7;
  transition: 0.3s ease;
}
.services .service-cards .card a:hover{
  color: #87c0d3;
}
.services .service-cards .card h6{
  color: #00B4F1;
}
.services .service-cards .card p{
  color: #9D9D9D;
  text-align: justify;
}
.services .service-cards .card a:hover{
 color: #c3ecfa!important;
}
.services .service-cards .card:hover{
  background-color: #00B4F1!important;
}
.services .service-cards .card .img-bg{
  background-image: linear-gradient(to right, #D8F3FD , #F4F8FA);
  width: 100px;
  /* height: 80px; */
  padding: 20px; 
  border-radius: 10px;
  margin-top: -70px;
  transition: 0.3s ease;
}
.services .service-cards .card:hover h6{
  color: white;
}
.services .service-cards .card:hover p{
  color: white;
}
.services .service-cards .card:hover a{
  color: white;
}
.services .service-cards .card:hover .img-bg{
  opacity: 0.7;
}
.services .service-cards .card .img-bg img{
  width: 50px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.services .service-cards a{
  text-decoration: none;
}
.services .row{
  margin: 0 auto;
  margin-top: 100px;
}
.services .see-more i{
  font-size: 20px;
}
.services .see-more{
  font-size: 15px;
  color: #00B4F1;
  text-decoration: none;
  transition: 0.3s ease;
}
.services .see-more:hover{
  color: #88dcf8;
}
@media screen and (max-width: 991px){
  .services{
    padding: 20px;
    margin-top: 100px;
  }
  .services .service-cards .card{
    width: 100%;
    height: 100%;
    transform: skew(-2deg);
  }
  .services .service-cards{
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .bottom-margin{
    margin-bottom: 70px;
  }
  .services .row{
    margin: 0 auto;
  }
  .services .service-cards{
  
  margin-bottom: 10px;
}
}

/* -------------------------services end---------------------------- */





/* -------------------------our services start---------------------------- */


.our-services .card{
  width: 100%!important;
  height: 100%!important;
}
.our-services{
  margin-bottom: 10px!important;
  padding-top: 80px;
}

/* -------------------------our services end---------------------------- */





/* -------------------------testimonial start---------------------------- */

.testimonial{
  margin-top: 150px;
  background: radial-gradient(at right 60%,rgb(160, 218, 241),rgb(255, 255, 255),rgb(255, 255, 255));
}
.testimonial .designation{
  font-size: 15px;
}
.testimonial .client-words{
  text-align: center;
}
.testimonial .feedback{
  margin-top: 100px;
}
.testimonial .testimonial-img{
  width: 400px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-top: -50px;
}
.testimonial .client-img{
  width: 80px;
  height: auto;
}
.testimonial .next-buttons   i{
  color: #00B4F1;
  transition: 0.3s ease;
}
.testimonial .next-buttons   i.active, .testimonial .next-buttons   i:focus, .testimonial .next-buttons   i:hover{
  font-size: 30px;
}
.testimonial .next-buttons .previous{
  font-size: 20px;
}
.testimonial .next-buttons .next{
  font-size: 25px;
}
.testimonial .next-buttons{
  display: block;
  margin-left: 70%;
}
@media screen and (max-width: 991px){
  .testimonial{
    padding: 10px;
    margin-top: 10px;
  }
  .testimonial .testimonial-img{
    margin: 0 auto;
  }
  .testimonial .client-words{
    text-align: center;
    margin-top: 10px;
  }
  .testimonial .next-buttons{
    margin: 0 auto;
    display: block;
  }
  .testimonial img{
    transform: skew(-3deg);
    margin: 0 auto;
    display: block;
    width: 250px;
    height: auto;
  }
  .testimonial .client-review{
    width: 100%;
    text-align: justify;
  }
  .testimonial .feedback{
    margin-top: 30px;
  }
  
}

/* -------------------------testimonial end---------------------------- */



/* -------------------------contact start---------------------------- */

.contact{
  margin-top: 100px;
  background-color: #EEFAFF;
  padding: 100px 50px;
}
.contact button{
  padding: 20px 50px;
  border: 0;
  border-radius: 5px;
  color: white;
  transition: 0.3s ease;
  transform: skew(-10deg);
  background-color: #00B4F1;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.contact button:hover{
  opacity: 0.7;
}
.contact a{
  text-decoration: none;
  color: #171616;
  transition: 0.3s ease;
}
.contact a:hover{
  color: #00B4F1;
}
.contact img{
  width: 50px;
  height: 1px;
  margin-top: 10px;
}
.contact i{
  color: #7B7B7B;
  transition: 0.3s ease;
  font-size: 16px;
}
.contact i:hover{
  color: #00B4F1;
}
.contact i:hover{
  color: #00B4F1;
}
.contact .border-right{
  border-right: 1px solid #00B4F1;
}
@media screen and (max-width: 991px){
  .contact{
    text-align: center;
  }
}

/* -------------------------contact end---------------------------- */




/* -------------------------contact-us start---------------------------- */

.contact-us{
  margin-top: 200px;
  margin-bottom: 100px;
}
.contact-us form{
  border-radius: 15px;
  border: 0;
  padding: 50px 25px;
  width: 450px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  margin-top: 80px 50px;
  margin: 0 auto;
}
.contact-us form input::placeholder, .contact-us form textarea::placeholder{
  font-size: 13px;
}
.contact-us form input, .contact-us form textarea{
  border-bottom: 1px solid #57c3e448;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding: 10px;
}
.contact-us button{
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  color: white;
  transition: 0.3s ease;
  transform: skew(-6deg);
  background-color: #00B4F1;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.contact-us button:hover{
  opacity: 0.7;
}
.contact-us .contact-forms{
  margin-top: 50px;
}
.contact-us iframe{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 5px;
}
.contact-us .contact-details{
  margin-top: 100px;
  padding-top: 100px;
  background-color: #00b5f10e;
}
.contact-us .contact-icons{
  margin-top: 100px;
}
.contact-us a{
  text-decoration: none;
}
.contact-us .contact-icons {
  margin-top: 130px;
  margin-left: 100px;
}
.contact-us img{
  display: block;
  margin: 0 auto;
}
.contact-us .icon-bg i{
  font-size: 15px;
 color: white;
}
.contact-us .details-icons i{
  font-size: 15px;
}
.contact-us .details-icons  a{
  color: #6b6969;
  transition: 0.3s ease;
}
.contact-us .details-icons  a:hover{
  color: #6bc8e7;
}
.contact-us .icon-bg{
  background-color: #00B4F1;
  width: 30px;
  height: 30px; 
  border-radius: 5px;
  transition: 0.3s ease;
  transform: skew(-6deg);
}
.contact-us .icon-bg:hover{
  opacity: 0.7;
}
.contact-us .twi{
  padding: 6px 9px;
}
.contact-us .insta{
  padding: 6px 1px;
}
.contact-us .fb{
  padding: 6px 1px;
}
@media screen and (max-width: 991px){
  .contact-us{
    padding: 10px;
  }
  .contact-us form{
    width: 100%;
    height: 100%;
  }
  .contact-us iframe {
    width: 100%;
    height: 100%;
  }
  .contact-us .icon-bg{
    transform: skew(-3deg);
  }
  .contact-us .link{
    justify-content: center;
  }
  .contact-us .insta{
    padding: 4px;
    
  }
  .contact-us .insta i{
    margin-left: -7px;
  }
  .contact-us .fb{
    padding: 6px 1px;
  }
  .contact-us .contact-details{
    margin-top: 100px;
    padding-top: 100px;
    justify-content: center;
    text-align: center;
  }
  .contact-us .details-icons a{
    margin: 0 auto;
  }
  .contact-us .contact-icons {
    
    margin: 0 auto;
    margin-top: 10px;
    justify-content: center;
    padding-bottom: 50px;
  }
  .contact-us .icons-contacting{
    justify-content: center;
  }
}




/* -------------------------contact-us end---------------------------- */




/* -------------------------footer start---------------------------- */

.footer{
  background-color: #008CBB;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer a{
  text-decoration: none;
}
.footer .footer-links a{
  color: white;
  transition: 0.3s ease;
}
.footer .footer-links a:hover{
  color: #b8d4e7;
}
.footer .links{
  float: right;
}
.footer hr{
  color: #BFBFBF;
}
.footer .powered-by{
  color: white;
  transition: 0.3s ease;
}
.footer a{
  text-align: center;
}
.footer .powered-by:hover{
  color: #b8d4e7;
}
.footer .footer-links i{
  font-size: 15px;
}
@media screen and (max-width: 991px){
  .footer .links{
    float: left;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .footer .footer-links{
    text-align: center;
    justify-content: center;
  }
  .footer .footer-links{
    justify-content: center;
    margin: 0 auto;
    display: block;
  }
  .footer img{
    margin: 0 auto;
    display: block;
  }
  .footer .links{
    margin: 0 auto;
  }
  .footer p{
    text-align: center;
  }
  
}

/* -------------------------footer end---------------------------- */